# <span style="color:darkblue"> QTM 151 - Assignment 8 </span>

## Try to submit as an HTML file



### Print your name below

In [2]:
# Write your answer here
print("Angie Siaca")

Angie Siaca

### Import the "pandas" library

In [3]:
# Write your answer here

import pandas as pd

### You will need the material from Lecture 14 and 15 for this assignment.



### Import the dataset "imdb_top_1000.csv" and save it as "movies." <br> 
This includes data on the top 1000 movies by IMDB rating.

In [7]:
# Write your answer here
movies <- read_csv("data_raw/imdb_top_1000.csv")

NameError: name 'movies' is not defined

### (a) Groupby + Aggregate Statistics

Create a new dataset **"movies_agg"** by grouping the "movies" dataset by **"Genre"** and then computing <br>the following aggregate statistics for **"IMDB_Rating"**:

- **Mean**
- **Standard Deviation**
- **Minimum**
- **Maximum**

Add a chain to sort by the mean IMDB rating in descending order.

Display the resulting dataset **"movies_agg"**.

In [4]:
# Write your own code

### (b) Merge Data

Create a new dataset **"movies_merge"** by merging the aggregate information <br> 
from (a) into "movies".

Display the resulting dataset **"movies_merge"**.

In [5]:
# Write your own code

### (c) Rename Columns + Dictionaries

Create a new dataset **"movies_rename"** by renaming the following columns in <br>the "movies" dataset using a dictionary:

- "Name" --> **"Movie_Title"**
- "Length" --> **"Runtime"**
- "Gross" --> **"Revenue"**

Verify that this renaming worked by printing the lists of the old ("movies") and new <br>("movies_rename") column names.

In [6]:
# Write your own code

### (d) Split Data

Use ".query()" to split the "movies_rename" dataset from (c) into different parts:

- Those directed by **Steven Spielberg**, saved to a dataset titled **"movies_spielberg"**
- Those directed by **Christopher Nolan**, saved to a dataset titled **"movies_nolan"**

In [7]:
# Write your own code

### (e) Concatenate Data

Concatenate the datasets you created in (d) to a new dataset titled **"movies_concat"**.

Display the resulting dataset **"movies_concat"**.

In [8]:
# Write your own code