# Quiz 4

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [2]:
# Write your answer here:
print("Angie Siaca")

Angie Siaca

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Write the following message as a comment: <br>

"I will abide by Emory's code of conduct"

In [1]:
# Write your own code
print("I will abide bt Emory's code of conduct")

I will abide bt Emory's code of conduct

In [3]:
# Write your answer here:

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, <br>
you can leave out the database argument.

Note: You may have to change some of the login details <br>
depending on your computer

In [4]:
# Write your answer here:

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    username = 'postgres',
    port = 5432,
    password  = '12345')
connection = create_engine(url_server)


<font size = "5">

(a) Upload dataset to SQL


<font size = "3">

- Read the files ```brand_info.csv``` and ```cars.csv``` in the ```data_raw``` folder
- Upload both files to your local SQL server using the <br>
"to_sql" command. Call the new datasets ```brand_info``` and ```cars```, respectively <br>
 in the server

In [7]:
# Write your answer here:
brand_info  = pd.read_csv("data_raw/brand_info.csv")
cars   = pd.read_csv("data_raw/cars.csv")

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    port = 5432,
    password  = "")

connection = create_engine(url_server)

brand_info.to_sql('brand_info',
               con = connection,
               if_exists='replace',
               index=False)

cars.to_sql('cars', 
             con = connection, 
             if_exists='replace',
             index=False)

74


<font size = "5">

For questions (b)-(f) we will be working with the tables <br>
``` cars ``` and ``` brands ``` in the SQL server. You are required to use <br>
the ```read_sql``` command for all the following questions.


<font size = "5">

(b) Subset and sort

<font size = "3">

Run a query using ```pd.read_sql()```

- Use ```WHERE``` to get a subset of "cars" to subset <br>
cars whose brand is ```'Honda'```
- Chain this with ```ORDER BY price ASC``` to sort in <br>
ascending order <br>

HINTS:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command without any <br>
additional escape characters

In [9]:
# Write your answer here:



example3 = pd.read_sql(text("SELECT * \
                             FROM cars \
                             WHERE brand = 'Honda'\
                             ORDER BY price ASC;"), connection)
print(example3.head())

   Unnamed: 0          make  price  mpg  rep78  headroom  trunk  weight  \
0          61   Honda Civic   4499   28    4.0       2.5      5    1760
1          60  Honda Accord   5799   25    5.0       3.0     10    2240

   length  turn  displacement  gear_ratio  brand
0     149    34            91        3.30  Honda
1     172    36           107        3.05  Honda

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

Run a query using ```pd.read_sql()```

- From ```cars```, obtain the average of "weight" by "brand" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "weight"
- You can break down your code into separate lines with a ```\``` <br>
to make it easy to read.

In [15]:
# Write your answer here:

example4 = pd.read_sql(text("SELECT \
                                brand, \
                             AVG(weight) AS avg_weight \
                            FROM cars \
                            GROUP BY brand \
                            ORDER BY avg_weight ASC;"), connection)

print(example4.head())

     brand  avg_weight
0  Renault      1830.0
1    Mazda      1980.0
2    Honda      2000.0
3       VW      2030.0
4   Subaru      2050.0

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

Run a query using ```pd.read_sql()```

- From ```cars``` obtain the average of "headroom" by brand using ```GROUP BY```
- Use ```HAVING ``` to filter brands with an <br>
average headroom strictly higher than 3
- You can break down your code into separate lines with a ```\``` <br>
to make it easy to read.

HINT: Use ```HAVING AVG(headroom)``` rather than an alias <br>
for the code to work correctly.

In [ ]:
# Write your answer here:

headroom = pd.read_sql(text("SELECT \
                            brand, \
                            AVG(headroom) AS avg_headroom \
                            FROM cars \
                            GROUP BY brand \
                            HAVING AVG(headroom) > 3 \
                            ORDER BY avg_headroom DESC;"),connection
                            )
print(headroom)

     brand  avg_headroom
0    Dodge      3.625000
1     Olds      3.500000
2    Buick      3.500000
3     Cad.      3.500000
4  Peugeot      3.500000
5    Mazda      3.500000
6    Merc.      3.250000
7    Linc.      3.166667

<font size = "5">

(e) Groupby and multiple aggregations

<font size = "3">

Run a query using ```pd.read_sql()```

-  From ```cars```, obtain the average, min, and max of each brand's weight using ```GROUP BY```
- You can break down your code into separate lines with a ```\``` <br>
to make it easy to read.

In [ ]:
# Write your answer here:
dif_weight = pd.read_sql(text("SELECT \
             brand, \
             AVG(weight) AS avg_weight, \
             MIN(weight) AS min_weight, \
             MAX(weight) AS max_weight \
          FROM cars \
          GROUP BY brand;"),connection)

print(dif_weight)

      brand   avg_weight  min_weight  max_weight
0      Audi  2450.000000        2070        2830
1    Toyota  2426.666667        2200        2670
2   Renault  1830.000000        1830        1830
3      Cad.  4173.333333        3900        4330
4     Chev.  3063.333333        2110        3690
5    Datsun  2355.000000        2020        2750
6     Plym.  2622.000000        1800        3330
7        VW  2030.000000        1930        2160
8     Honda  2000.000000        1760        2240
9      Olds  3498.571429        2730        4060
10     Fiat  2130.000000        2130        2130
11    Volvo  3170.000000        3170        3170
12     Ford  2225.000000        1800        2650
13    Buick  3398.571429        2230        4080
14      AMC  2973.333333        2640        3350
15    Dodge  3265.000000        2120        3740
16    Linc.  4463.333333        3830        4840
17    Pont.  3281.666667        2690        3700
18    Merc.  3448.333333        2580        4130
19   Subaru  2050.000000        2050        2050
20  Peugeot  3420.000000        3420        3420
21    Mazda  1980.000000        1980        1980
22      BMW  2650.000000        2650        2650

<font size = "5">

(f) Filter then Aggregate

<font size = "3">


Run a query using ```pd.read_sql()```

- From ```cars```, filter cars that are from the brand 'Audi' using WHERE
- Obtain the average of headroom (you should only be reporting one number)
- You can break down your code into separate lines with a ```\``` <br>
to make it easy to read.

HINT: Use single quotations inside ```text("      ")``` to <br>
filter by ```'Audi'```

In [17]:
# Write your answer here:

audi = pd.read_sql(text("SELECT \
                        AVG(headroom) AS avg_headroom \
                        FROM cars \
                        WHERE brand = 'Audi';"),connection)

print(audi)

   avg_headroom
0          2.75